<footer class="bd-footer pie py-5 mt-5">
          <div class="container mb-3">
          <div class="row">
            <div class="col-2">
                <h5>SECCIONES</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">HOME</a></li>
                    <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">STATEMENT</a></li>
                    <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">GALERIAS</a></li>
                    <li class="nav-item mb-2"><a href="" class="nav-link p-0 text-muted">CONTACTO</a></li>
                </ul>
            </div>
            <div class="col-4">
            </div>
        </div>
      </div>
          <div class="container"><p class="float-end"><a class="nav-link p-0" href="#">Regresar arriba</a></p>
            <p>&copy; 1988–2022 Guillermina Bres - Todos los derechos reservados. &middot;</p>
            <p class="float-end" style="height: 1em">
              <a href="https://www.instagram.com/guillermina.bres/"><img style="height: 1em;  margin-right: .75em;" src="/images/instagram.png"></a>
              <a href="https://twitter.com/gui_bres"><img style="height: 1em; margin-right: .75em;" src="/images/twitter.png"></a>
              <a href="mailto:guillerminabres@gmail.com"><img style="height: 1em" src="/images/mailto.png"></a>
            </p>
            <p>Corrientes, Argentina</p>
          </div>      
        </footer>