      <header>
          <div class="encabezado px-5 mb-3 container-md">
              <nav class="navbar navbar-expand-lg">
                  <div class="container-fluid d-flex">
                      <div class="d-flex d-lg-none">
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <img src="/images/toggler.webp" alt="toggler" height="50px">
                          </button>                        
                      </div>
                      <a class="navbar-brand logo" href="#">
                          <!-- <img src="./images/logo.webp" alt="LOGO" height="110"> -->
                          Guillermina Bres
                      </a>
                      <div class="collapse navbar-collapse d-lg-none" id="navbarNav">
                              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                  <li class="nav-item">
                                    <a class="nav-link" href="/" aria-current="page">HOME</a>
                                  </li>
                                  <li class="nav-item">
                                    <a class="nav-link" href="/statement">STATEMENT</a>
                                  </li>
                                  <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      GALERIAS
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                      <li><a class="dropdown-item" href="/galerias">GALERIA 1</a></li>
                                      <li><a class="dropdown-item" href="galerias">GALERIA 2</a></li>
                                      <li><hr class="dropdown-divider"></li>
                                      <li><a class="dropdown-item" href="/galerias">ETCETERA</a></li>
                                    </ul>
                                    <li class="nav-item">
                                      <a class="nav-link" href="/contacto">CONTACTO</a>
                                    </li>
                                  </li>
                              </ul>
                          </div>
                      <div class="d-none d-lg-flex justify-content-end" id="navbarNav">
                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link" href="/" aria-current="page">HOME</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="/statement">STATEMENT</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  GALERIAS
                                </a>
                                <ul class="dropdown-menu drop" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="/galerias">GALERIA 1</a></li>
                                  <li><a class="dropdown-item" href="/galerias">GALERIA 2</a></li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="/galerias">ETCETERA</a></li>
                                </ul>
                                <li class="nav-item">
                                  <a class="nav-link" href="/contacto">CONTACTO</a>
                                </li>
                              </li>
                            </ul>
                      </div>
                  </div>
              </nav>
          </div> 
      </header>