          <div class="container px-0 px-md-1 mx-0 mx-sm-auto">  
            <h1 class="d-inline-block px-2"> <div class="border-top border-bottom p-0 m-0">{{titulo}}</div></h1>
            <div class="clearfix px-2">
              <div class="d-none d-lg-flex col-md-6 float-md-end mt-1 mb-3 ms-md-3"><img class="foto" src="../images/foto.jpg"></div>
              <p>La curiosidad por la fotografía empezó desde muy chica. Cuando era niña me atraía poder congelar esos momentos que me parecían divertidos o aquellos en donde estaban involucrados los afectos.
              Pero más allá de todo el contexto, me sentía especialmente seducida por la imagen, la composición, los colores, las texturas. </p>
              <p>La fotografía se transformó en un puente entre la realidad y los mundos imaginarios o supuestos que me gustaba pensar. Me conecta con personas, situaciones, espacios, paisajes, desde una mirada 
              A su vez, ser narradora de historias a través de la imagen, me anima a confiar que soy una parte activa de este mundo, capaz de generar una emoción, una reflexión o de transformarlas. Sin duda esta facultad que me otorgo, es lo que me motiva a seguir registrando cada día con la cámara como herramienta.
              Me considero una artista versátil, mi formación que parte desde el diseño gráfico me brindó herramientas para construir una imagen / fotografía que además de transmitir </p>
            </div>
            <div class="d-lg-none mx-0"><img class="foto" src="../images/foto.jpg"></div>
          </div>